DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cha_ryan_juliana?schema=public"
DATABASE_URL_UNPOOLED="postgresql://postgres:postgres@localhost:5432/cha_ryan_juliana?schema=public"
ADMIN_PASSWORD="troque-esta-senha"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
